//- Опционально
include parts/mixin-svg-lib

include ../components/header/header

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Document
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header

      section.container
        .wrapper
          p.animated-text Контент страницы

